<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Convert colors between formats HEX, RGB, HSL and CMYK. Simple, beautiful and fast."
    />
    <title>Convert a Color – HEX, RGB, HSL, CMYK</title>
    <link id="favicon" rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="images/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png" />
    <link rel="manifest" href="manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <script defer data-domain="convertacolor.com" src="https://plausible.io/js/script.js"></script>
    <script>
      window.plausible =
        window.plausible ||
        function () {
          (window.plausible.q = window.plausible.q || []).push(arguments);
        };
    </script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.6.1/randomColor.min.js"></script>
    <script type="text/javascript" src="utils/color-methods.util.js"></script>
    <style>
      @font-face {
        font-family: "Fredoka";
        src: url("fonts/Fredoka-SemiBold.ttf") format("truetype");
        font-weight: 500;
        font-style: normal;
        font-display: swap;
      }

      body {
        font-family: Arial, Verdana, sans-serif;
        margin: 0;
        padding: 20px;
        box-sizing: border-box;
        height: 100vh;
        transition: background-color 0.2s ease;
      }

      [v-cloak] {
        display: none;
      }

      .container {
        max-width: 500px;
        margin: 1rem auto;
        text-align: center;
      }

      .logo {
        font-family: "Fredoka", Arial, Verdana, sans-serif;
        text-decoration: none;
        font-size: 18px;
        margin-bottom: 20px;
        display: inline-block;
      }
      .logo > span {
        font-size: 22px;
        transform: translateY(2px);
        display: inline-block;
      }

      h1 {
        font-family: "Fredoka", Arial, Verdana, sans-serif;
        font-size: 24px;
      }

      .description {
        max-width: 350px;
        margin: 1rem auto;
      }

      form {
        max-width: 400px;
        margin: 2rem auto;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }

      .form-group {
        display: flex;
        flex-direction: column;
      }

      label {
        font-size: 12px;
      }

      .rgb-label {
        display: flex;
        justify-content: space-between;
      }

      .rgb-label > button {
        background: transparent;
        border: none;
        font-size: 10px;
        cursor: pointer;
      }

      input {
        background: transparent;
        border: none;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        padding: 10px 0px;
        font-size: 18px;
        width: 100%;
      }

      .input-group {
        position: relative;
      }

      .copy-button {
        position: absolute;
        right: 5px;
        top: 8px;
        background: transparent;
        border: none;
        cursor: pointer;
      }

      .copy-button > svg {
        width: 20px;
        height: 20px;
      }

      .spacebar {
        font-family: "Fredoka", Arial, Verdana, sans-serif;
        text-align: center;
        font-size: 15px;
      }
    </style>
    <script type="text/javascript">
      /** @description redirect for old URL's */
      if (window.location.hash.startsWith("#/hex/")) {
        const hex = window.location.hash.split("/hex/")[1];
        const pathname =
          window.location.pathname[window.location.pathname.length - 1] === "/"
            ? window.location.pathname.slice(0, window.location.pathname.length - 1)
            : window.location.pathname;
        const newUrl = `${pathname}?hex=${hex}`;

        window.history.replaceState({}, "", newUrl);
        window.location.reload();
      }
    </script>
  </head>

  <body :style="{ 'background-color': hex, color: textColor }" @vue:mounted="mounted" v-cloak>
    <div id="app">
      <div class="container">
        <a class="logo" href="/" @click.prevent="resetPage()" :style="{ color: textColor }">
          Convert<span>A</span>Color
        </a>
        <h1>Color Converter</h1>
        <p class="description">Convert colors between formats HEX, RGB, HSL and CMYK. Simple, beautiful and fast.</p>

        <form>
          <!-- hex -->
          <div class="form-group">
            <label for="hex">HEX</label>
            <div class="input-group">
              <input
                id="hex"
                type="text"
                placeholder="#FF9200"
                v-model="hex"
                @input="onHexChange"
                :style="{ 'border-color': textColor, color: textColor }"
                style="text-transform: uppercase"
              />
              <button class="copy-button" @click.prevent="copy(hex)" title="Copy HEX color value">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path
                    :fill="textColor"
                    d="M384 352l-160 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l108.1 0c4.2 0 8.3 1.7 11.3 4.7l67.9 67.9c3 3 4.7 7.1 4.7 11.3L416 320c0 17.7-14.3 32-32 32zM433.9 81.9L366.1 14.1c-9-9-21.2-14.1-33.9-14.1L224 0c-35.3 0-64 28.7-64 64l0 256c0 35.3 28.7 64 64 64l160 0c35.3 0 64-28.7 64-64l0-204.1c0-12.7-5.1-24.9-14.1-33.9zM64 128c-35.3 0-64 28.7-64 64L0 448c0 35.3 28.7 64 64 64l160 0c35.3 0 64-28.7 64-64l0-32-32 0 0 32c0 17.7-14.3 32-32 32L64 480c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0 0-32-64 0z"
                  />
                </svg>
              </button>
            </div>
          </div>

          <!-- rgb -->
          <div class="form-group">
            <label for="rgb" class="rgb-label">
              <span>RGB</span>
              <button
                v-if="is8BitMode"
                @click.prevent="is8BitMode = false"
                :style="{ color: textColor }"
                title="Switch to normalized mode (1.0, 1.0, 1.0)"
              >
                8-bit mode
              </button>
              <button
                v-else
                @click.prevent="is8BitMode = true"
                :style="{ color: textColor }"
                title="Switch to 8-bit mode (255, 255, 255)"
              >
                Normalized
              </button>
            </label>
            <div class="input-group">
              <input
                v-if="is8BitMode"
                id="rgb"
                type="text"
                placeholder="rgb(255,255,255)"
                v-model="rgb"
                @input="onRgbChange"
                :style="{ 'border-color': textColor, color: textColor }"
              />
              <input
                v-else
                id="rgb"
                type="text"
                placeholder="rgb(1,1,1)"
                v-model="rgbNormalized"
                @input="onRgbNormalizedChange"
                :style="{ 'border-color': textColor, color: textColor }"
              />

              <button
                class="copy-button"
                @click.prevent="copy(is8BitMode ? rgb : rgbNormalized)"
                title="Copy RGB color value"
              >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path
                    :fill="textColor"
                    d="M384 352l-160 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l108.1 0c4.2 0 8.3 1.7 11.3 4.7l67.9 67.9c3 3 4.7 7.1 4.7 11.3L416 320c0 17.7-14.3 32-32 32zM433.9 81.9L366.1 14.1c-9-9-21.2-14.1-33.9-14.1L224 0c-35.3 0-64 28.7-64 64l0 256c0 35.3 28.7 64 64 64l160 0c35.3 0 64-28.7 64-64l0-204.1c0-12.7-5.1-24.9-14.1-33.9zM64 128c-35.3 0-64 28.7-64 64L0 448c0 35.3 28.7 64 64 64l160 0c35.3 0 64-28.7 64-64l0-32-32 0 0 32c0 17.7-14.3 32-32 32L64 480c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0 0-32-64 0z"
                  />
                </svg>
              </button>
            </div>
          </div>

          <!-- hsl -->
          <div class="form-group">
            <label for="hsl">HSL</label>
            <div class="input-group">
              <input
                id="hsl"
                type="text"
                placeholder="hsl(255, 100%, 50%)"
                v-model="hsl"
                @input="onHslChange"
                :style="{ 'border-color': textColor, color: textColor }"
              />
              <button class="copy-button" @click.prevent="copy(hsl)" title="Copy HSL color value">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path
                    :fill="textColor"
                    d="M384 352l-160 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l108.1 0c4.2 0 8.3 1.7 11.3 4.7l67.9 67.9c3 3 4.7 7.1 4.7 11.3L416 320c0 17.7-14.3 32-32 32zM433.9 81.9L366.1 14.1c-9-9-21.2-14.1-33.9-14.1L224 0c-35.3 0-64 28.7-64 64l0 256c0 35.3 28.7 64 64 64l160 0c35.3 0 64-28.7 64-64l0-204.1c0-12.7-5.1-24.9-14.1-33.9zM64 128c-35.3 0-64 28.7-64 64L0 448c0 35.3 28.7 64 64 64l160 0c35.3 0 64-28.7 64-64l0-32-32 0 0 32c0 17.7-14.3 32-32 32L64 480c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0 0-32-64 0z"
                  />
                </svg>
              </button>
            </div>
          </div>

          <!-- cmyk -->
          <div class="form-group">
            <label for="cmyk">CMYK</label>
            <div class="input-group">
              <input
                id="cmyk"
                type="text"
                placeholder="cmyk(100%, 0%, 0%, 0%)"
                v-model="cmyk"
                @input="onCmykChange"
                :style="{ 'border-color': textColor, color: textColor }"
              />

              <button class="copy-button" @click.prevent="copy(cmyk)" title="Copy CMYK color value">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                  <path
                    :fill="textColor"
                    d="M384 352l-160 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l108.1 0c4.2 0 8.3 1.7 11.3 4.7l67.9 67.9c3 3 4.7 7.1 4.7 11.3L416 320c0 17.7-14.3 32-32 32zM433.9 81.9L366.1 14.1c-9-9-21.2-14.1-33.9-14.1L224 0c-35.3 0-64 28.7-64 64l0 256c0 35.3 28.7 64 64 64l160 0c35.3 0 64-28.7 64-64l0-204.1c0-12.7-5.1-24.9-14.1-33.9zM64 128c-35.3 0-64 28.7-64 64L0 448c0 35.3 28.7 64 64 64l160 0c35.3 0 64-28.7 64-64l0-32-32 0 0 32c0 17.7-14.3 32-32 32L64 480c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0 0-32-64 0z"
                  />
                </svg>
              </button>
            </div>
          </div>

          <p class="spacebar">Hit spacebar to convert a random color</p>
        </form>

        <p class="timb">
          Built by <a href="https://timb.com?ref=convertacolor" :style="{ color: textColor }">timb.com</a>
        </p>
      </div>
    </div>

    <script type="module">
      import { createApp } from "https://unpkg.com/petite-vue?module";

      const textColor = "#000000";

      const hex = "";
      const rgb = "";
      const rgbNormalized = "";
      const hsl = "";
      const cmyk = "";

      const is8BitMode = true;

      function generateColor() {
        const color = randomColor();
        const [r, g, b] = hexToRgb(color);
        const [h, s, l] = rgbToHsl(r, g, b);
        const [c, m, y, k] = rgbToCmyk(r, g, b);

        this.hex = color;
        this.rgb = formatRgbString(r, g, b);
        this.rgbNormalized = formatRgbString(r, g, b, true);
        this.hsl = formatHslString(h, s, l);
        this.cmyk = formatCmykString(c, m, y, k);

        this.updateTextColor(color);
      }

      function onHexChange() {
        const color = this.hex;
        const [r, g, b] = hexToRgb(color);
        const [h, s, l] = rgbToHsl(r, g, b);
        const [c, m, y, k] = rgbToCmyk(r, g, b);

        this.rgb = formatRgbString(r, g, b);
        this.rgbNormalized = formatRgbString(r, g, b, true);
        this.hsl = formatHslString(h, s, l);
        this.cmyk = formatCmykString(c, m, y, k);

        this.updateTextColor(color);
      }

      function onRgbChange() {
        let colors =
          this.rgb.match(/-?\d+(\.\d+)?/g)?.map(Number)?.length === 3
            ? this.rgb.match(/-?\d+(\.\d+)?/g)?.map(Number)
            : [0, 0, 0];

        const [r, g, b] = colors;
        const [h, s, l] = rgbToHsl(r, g, b);
        const [c, m, y, k] = rgbToCmyk(r, g, b);

        this.rgbNormalized = formatRgbString(r, g, b, true);
        this.hex = rgbToHex(r, g, b);
        this.hsl = formatHslString(h, s, l);
        this.cmyk = formatCmykString(c, m, y, k);

        this.updateTextColor(this.hex);
      }

      function onRgbNormalizedChange() {
        let colors =
          this.rgbNormalized.match(/-?\d+(\.\d+)?/g)?.map(Number)?.length === 3
            ? unnormalizeRgb(this.rgbNormalized.match(/-?\d+(\.\d+)?/g)?.map(Number))
            : [0, 0, 0];

        const [r, g, b] = colors;
        const [h, s, l] = rgbToHsl(r, g, b);
        const [c, m, y, k] = rgbToCmyk(r, g, b);

        this.rgb = formatRgbString(r, g, b);
        this.hex = rgbToHex(r, g, b);
        this.hsl = formatHslString(h, s, l);
        this.cmyk = formatCmykString(c, m, y, k);

        this.updateTextColor(this.hex);
      }

      function onHslChange() {
        const colors = this.hsl.match(/\d+/g)?.map(Number);

        const [h, s, l] = colors?.length === 3 ? colors : [0, 0, 0];
        const [r, g, b] = hslToRgb(h, s, l);
        const [c, m, y, k] = rgbToCmyk(r, g, b);

        this.hex = rgbToHex(r, g, b);
        this.rgb = formatRgbString(r, g, b);
        this.rgbNormalized = formatRgbString(r, g, b, true);
        this.cmyk = formatCmykString(c, m, y, k);

        this.updateTextColor(this.hex);
      }

      function onCmykChange() {
        const [c, m, y, k] = this.cmyk.match(/\d+/g)?.map(Number);
        const [r, g, b] = cmykToRgb(c, m, y, k);
        const [h, s, l] = rgbToHsl(r, g, b);

        this.hex = rgbToHex(r, g, b);
        this.rgb = formatRgbString(r, g, b);
        this.rgbNormalized = formatRgbString(r, g, b, true);
        this.hsl = formatHslString(h, s, l);

        this.updateTextColor(this.hex);
      }

      function loadColorFromURL() {
        const hexQuery = new URLSearchParams(window.location.search).get("hex");
        if (/^[0-9A-F]{6}$/i.test(hexQuery)) {
          this.hex = `#${hexQuery}`;
          this.onHexChange();
        }
      }

      function resetPage() {
        window.history.pushState({}, "", window.location.pathname);
        window.location.reload();
      }

      function copy(text) {
        window.plausible("color:copied");
        navigator.clipboard.writeText(text);
      }

      function updateTextColor(hex) {
        this.textColor = getTextColor(hex);
      }

      createApp({
        hex,
        rgb,
        rgbNormalized,
        hsl,
        cmyk,
        textColor,
        is8BitMode,
        copy,
        resetPage,
        generateColor,
        onHexChange,
        onRgbChange,
        onRgbNormalizedChange,
        onHslChange,
        onCmykChange,
        updateTextColor,
        loadColorFromURL,
        mounted() {
          this.generateColor();

          document.addEventListener("keydown", (event) => {
            if (event.code === "Space") {
              event.preventDefault();
              this.generateColor();

              history.pushState(null, "", `?hex=${this.hex.replace("#", "")}`);

              window.plausible("random-color:generated");
            }
          });

          window.addEventListener("load", this.loadColorFromURL.bind(this));
          window.addEventListener("popstate", this.loadColorFromURL.bind(this));
        },
      }).mount();
    </script>
  </body>
</html>
