@font-face {
  font-family: "Fredoka";
  src: url("@/assets/fonts/Fredoka-SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  transition: all 0.2s;
}