@font-face {
  font-family: "Fredoka";
  src: url("@/assets/fonts/Fredoka-SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #000000;
  color: #FFFFFF;
  transition: background-color 0.3s ease, color 0.3s ease;
  min-height: 90vh;
  margin: 0;
  padding: 0;
}
